body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
p{
 margin: 0 0 10px 0;
}
li{
    list-style-type: none;
}
ul {
    margin-left: 0; 
    padding-left: 0;
   }
.conteiner{
    width: 80%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}
.styleBlock{
    width: 50%;
    height: 100%;
}
.styleInput{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}
.btn-addUser{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0);
    color: green;
}
.rightBlock{
    padding-top: 20px;
}
.firstTable{
    width: 100%;
    height: max-content;
    padding-top: 10px;
    border-top: 1px solid grey ;
    border-bottom: 1px solid grey ;
}

.fTtable{
    width: 100%;
    height: max-content;
    padding-top: 10px;
    border-top: 1px solid grey ;
    border-bottom: 1px solid grey ;
}
.btnEdit{
    width: 60px;
    height: 30px;
    color: black;
    background-color: orange;
    border: 0;
    border-radius: 5px;
}
.btnDelete{
    width: 60px;
    height: 30px;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 5px;
}
.weight{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons{
display: flex;
justify-content: space-between;
}