<div class="conteiner">
    <div class="leftBlock styleBlock">
        <form class="f1">
            <p>Login</p>
            <input type="text" placeholder="Enter login" class="styleInput" id="login" [(ngModel)]="newLogin"
                name="login">
            <p>Password</p>
            <input type="password" placeholder="Enter password" class="styleInput" id="password"
                [(ngModel)]="newPassword" name="password">
            <p>Email address</p>
            <input type="email" placeholder="Enter email" class="styleInput" id="email" [(ngModel)]="newEmail"
                name="email">
        </form>
        <button class="btn-addUser" id="firstAdd" (click)="addUser()" *ngIf="!buttonStatys">Add user</button>
        <button class="btn-addUser  btn-editUser" (click)="editUser()"*ngIf="buttonStatys">Save edit user</button>
    </div>
    <div class="rightBlock styleBlock">
        <table class="fTtable">
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <ng-container *ngFor="let user of arrUser; let i = index">
                <tr>
                    <th [textContent]="i+1"></th>
                    <th [textContent]="user.login"></th>
                    <th [textContent]="user.password"></th>
                    <th [textContent]="user.email"></th>
                    <th>
                        <button class="btnEdit" (click)="editName(i)">Edit</button>
                    </th>
                    <th>
                        <button class="btnDelete" (click)="deleteName(i)" [disabled]="buttonStatys">Delete</button>
                    </th>
                </tr>

            </ng-container>
        </table>
    </div>
</div>